<p id="notice"><%= notice %></p>
<% @json_document.each do |key, value| %>
  <p>
    <strong><%= key %>:</strong>
    <%= value %>
  </p>
<% end %>

| <%= link_to 'Create new product', new_product_path %> |
